Source: libevl
Section: devel
Priority: extra
Maintainer: Hannes Diethelm <hannes.diethelm@gmail.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 meson,
 pkgconf,
 libbpf-dev,
 cpio,
Standards-Version: 4.7.2
Homepage: https://v4.xenomai.org/

Package: libevl
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Recommends:
 udev,
Description: libevl library (shared library)
 Xenomai4 EVL userspace library
 .
 This package contains the shared library.

Package: libevl-bin
Architecture: any
Depends:
 libevl,
 ${shlibs:Depends},
 ${misc:Depends},
Recommends:
 udev,
Description: libevl tools
 Xenomai4 EVL userspace tools
 .
 This package contains the evl tools.

Package: libevl-dev
Architecture: any
Depends:
 libevl,
 ${shlibs:Depends},
 ${misc:Depends},
Recommends:
 udev,
Description: libevl library (development files)
 Xenomai4 EVL userspace library
 .
 This package is needed to compile programs against libevl.

Package: libevl-test
Architecture: any
Depends:
 libevl,
 gdb,
 ${shlibs:Depends},
 ${misc:Depends},
Description: libevl test suite
  Xenomai4 EVL test suite
