Source: libevl
Section: unknown
Priority: optional
Maintainer: Hannes Diethelm <hannes.diethelm@gmail.com>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
Standards-Version: 4.7.2
Homepage: <insert the upstream URL, if relevant>
#Vcs-Browser: https://salsa.debian.org/debian/libevl
#Vcs-Git: https://salsa.debian.org/debian/libevl.git

Package: libevl
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends},
Description: <insert up to 60 chars description>
 <Insert long description, indented with spaces.>
