#!/usr/bin/make -f

#export DH_VERBOSE = 1

#Default: linux-evl is in same folder
# Use UAPI=FULL_PATH dpkg-buildpackage ... to specify custom location
#Not recommended to use /usr/include with debian packages due to:
# - libevl installs most headers there except asm/evl
# - linux-libc-dev installs all headers but conflicts with libevl
#   due to some headers are installed at the same location
UAPI ?= $(CURDIR)/../linux-evl

ifeq ("$(wildcard $(UAPI))","")
  $(error UAPI not found in $(UAPI))
endif

%:
	dh $@ --buildsystem=meson

override_dh_auto_configure:
	dh_auto_configure --buildsystem=meson -- -Duapi=$(UAPI)
